{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "prettier"
  ],
  "rules": {
    "require-await": "error",
    "arrow-body-style": ["error", "as-needed"]
  }
}
